
# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
logfile

.byebug_history
*.Ds_Store

config/database.yml
config/master.key
config/credentials.yml.enc